<body>
  <app-navbar [loginName]="this.loginUser.name"></app-navbar>

  <aside class="custom-container profile-card">
    <header>
      <a class="circular--portrait">
        <img src="./assets/avatar-1.jpg" alt="" />
      </a>
      <h1 class="text-center">{{ loginUser.name }}</h1>
    </header>

    <div class="profile-bio">
      <p><strong>Mã số sinh viên: </strong>{{ loginUser.studentId }}</p>
      <p><strong>Lớp: </strong>{{ loginUser.class }}</p>
      <p><strong>Số điện thoại: </strong>{{ loginUser.phoneNumber }}</p>
      <p><strong>Ngày sinh: </strong>{{ loginUser.birthday }}</p>
    </div>
  </aside>
</body>
