@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62%;
}

.custom-container {
  width: 85%;
  margin: auto;
  font-size: 1rem;
}

.profile-card {
  background-color: #cfeed6;
  display: flex;
  margin-top: 5%;
  overflow: hidden;
  border-radius: 16px;
  align-items: center;
  height: calc(100% / 3);
  width: calc(100% / 3 * 2);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16),
    0px 10px 20px rgba(0, 0, 0, 0.23);
}

.profile-card header {
  background-color: white;
  width: 40%;
  padding: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-right: 3px dashed #c2ebd2;
}

header a {
  display: flex;
  justify-content: center;
}

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

header h1 {
  margin-top: 32px;
  font-size: 2rem;
  font-weight: 700;
}

.profile-bio {
  padding: 60px;
}

.profile-bio p {
  font-size: 1.25rem;
  margin-bottom: 12px;
}
