<body>
  <table class="table table-bordered styled-table">
    <thead>
      <tr class="text-center">
        <th scope="col">STT</th>
        <th scope="col">Mã số sinh viên</th>
        <th scope="col">Họ và tên</th>
        <th scope="col">Nữ</th>
        <th scope="col">Lớp</th>
        <th scope="col">Số điện thoại</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let student of students; index as i" class="text-center">
        <td scope="row">{{ i + 1 }}</td>
        <td scope="row">
          {{ student.studentId }}
        </td>
        <td scope="row" class="text-start">{{ student.name }}</td>

        <td scope="row" *ngIf="student.sex == true; else elseBlock">x</td>
        <ng-template #elseBlock>
          <td scope="row">&nbsp;</td>
        </ng-template>

        <td scope="row">
          {{ student.class }}
        </td>
        <td scope="row">
          {{ student.phoneNumber }}
        </td>
      </tr>
    </tbody>
  </table>
</body>
