<div class="table-responsive">
  <table
    class="table table-striped table-bordered table-hover"
    *ngIf="students"
  >
    <thead>
      <tr class="color">
        <th scope="col" class="align-middle text-break">TT</th>
        <th scope="col" class="align-middle text-break">Mã số sinh viên</th>
        <th scope="col" class="align-middle text-break">Họ và tên</th>
        <th scope="col" class="align-middle">Nữ</th>
        <th scope="col" class="align-middle">Lớp</th>
        <th scope="col" class="align-middle text-break">Số điện thoại</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students; index as i">
        <td scope="row" class="center align-middle">{{ i + 1 }}</td>
        <td scope="row" class="center align-middle text-break">
          {{ student.studentId }}
        </td>
        <td scope="row" class="text-break align-middle">{{ student.name }}</td>
        <td
          scope="row"
          class="center align-middle"
          *ngIf="student.sex == true; else elseBlock"
        >
          x
        </td>
        <ng-template #elseBlock>
          <td scope="row" class="align-middle">&nbsp;</td>
        </ng-template>
        <td scope="row" class="center align-middle text-break">
          {{ student.class }}
        </td>
        <td scope="row" class="center align-middle text-break">
          {{ student.phoneNumber }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
