table {
  overflow: hidden;
  border-radius: 1.5em;
  border-collapse: collapse;
}

thead {
  text-align: center;
}

.center {
  text-align: center;
}

.color {
  background-color: #4649ff;
  color: #fff;
}

.table {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
