<body>
  <div class="center">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (submit)="Login()">
      <div class="error" style="padding: 5%">
        <p *ngIf="this.error.length > 0" style="color: red">
          {{ this.error }}
        </p>
      </div>
      <div class="txt_field">
        <input type="text" id="id" formControlName="id" required />
        <span></span>
        <label>User ID</label>
      </div>
      <div class="txt_field">
        <input
          type="password"
          id="password"
          formControlName="password"
          required
        />
        <span></span>
        <label>Password</label>
      </div>
      <div class="pass">Forgot Password?</div>
      <input type="submit" value="Login" />
    </form>
  </div>
</body>
