<section class="ftco-section bg-image">
  <div class="container mod">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2
          class="heading-section"
          style="text-transform: uppercase; color: white"
        >
          Đăng nhập
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <form action="#" class="signin-form">
            <div class="form-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Tài khoản"
                required
              />
            </div>
            <div class="form-group mb-5">
              <input
                id="password-field"
                type="password"
                class="form-control"
                placeholder="Mật khẩu"
                required
              />
              <span
                toggle="#password-field"
                class="fa fa-fw fa-eye field-icon toggle-password"
              ></span>
            </div>
            <div class="form-group my-3">
              <button
                type="submit"
                class="form-control btn btn-primary submit px-3"
              >
                Đăng nhập
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
