<body>
  <div class="center">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (submit)="Login()">
      <div class="txt_field">
        <input type="text" id="id" formControlName="id" required />
        <span></span>
        <label>User ID</label>
      </div>
      <div class="txt_field">
        <input
          type="password"
          id="password"
          formControlName="password"
          required
        />
        <span></span>
        <label>Password</label>
      </div>
      <div class="error" style="padding-bottom: 20px">
        <p *ngIf="this.error.length > 0" style="color: red; text-align: center">
          {{ this.error }}
        </p>
      </div>
      <input type="submit" style="margin-top: 12px" value="Login" />
    </form>
  </div>
</body>
