nav {
  max-width: 1400px;
}

input[type="submit"] {
  cursor: pointer;
  color: #e9f4fb;
  font-weight: bold;
  padding: 6px 24px;
  margin-right: 50px;
  border-radius: 50%;
  background: #7978ff;
  text-transform: uppercase;
  border: 1px solid #7978ff;
}

input[type="submit"]:hover {
  transition: 0.35s;
  border-color: #2691d9;
}

.mid {
  text-align: center;
}

.bi {
  margin-left: 50px;
}

.loginName {
  color: white;
  text-align: center;
  padding-right: 30px;
  text-decoration: none;
}

.login-hover {
  position: relative;
}

.login-hover .login-list {
  position: absolute;
  display: none !important;
}

.login-hover:hover .login-list {
  top: 40px;
  width: 200px;
  border-radius: 10px;
  display: flex !important;
  background-color: white;
}

.login-list ul {
  width: 100%;
  list-style-type: none;
}

.login-list a {
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.logout {
  cursor: pointer;
  color: #e9f4fb;
  padding: 6px 24px;
  font-weight: bold;
  margin-right: 50px;
  border-radius: 25px;
  background: #7978ff;
  text-transform: uppercase;
  border: 1px solid #7978ff;
}

.nav-item {
  margin-left: 30px;
  border-radius: 50%;
  align-items: center;
}

.active {
  font-weight: bold;
  border-radius: 25px;
  background-color: #7978ff;
}

.navbar {
  top: 1.5%;
  margin-bottom: 3%;
  margin-left: 1.25%;
  width: 97.5%;
  padding-left: 10%px;
  border-radius: 40px;
  background-color: #4649ff !important;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.container {
  padding-left: 10%px;
  border-radius: 20px;
  background-color: #4649ff;
}

.avatar {
  width: 8%;
  height: 8%;
  margin-right: 15px;
  border-radius: 50%;
  border: solid 4px #7978ff;
}