body {
  padding-bottom: 40px;
  background-color: whitesmoke;
}

.container {
  padding: 3%;
  margin-top: 15px;
  border-radius: 25px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.height {
  line-height: 36px;
  min-height: 36px;
  height: 36px;
}

thead {
  text-align: center;
}

.center {
  text-align: center !important;
}

.tbreak {
  background-color: #4649ff;
}

.tbreak > th {
  color: #fff;
  text-align: center;
}

.color {
  background-color: #4649ff;
  color: #fff;
}

.week > .table {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  overflow: hidden;
  border-radius: 1.25em;
  border-collapse: collapse;
}

.today > .table {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  overflow: hidden;
}

.onSubject {
  overflow: auto;
  background-color: #6265f7;
  color: #fff !important;
  border-radius: 10px;
  font-size: 11;
  font-weight: 400;
  border: #4649ff double;
}
