<body>
  <app-navbar [loginName]="this.loginUser.name"></app-navbar>

  <div class="custom-container">
    <h3>Thời khoá biểu theo học phần đã đăng ký</h3>

    <table class="table table-bordered styled-table text-center align-middle">
      <thead>
        <tr>
          <th scope="col" class="setw-5">Tiết</th>
          <th scope="col" class="setw" *ngFor="let i of [2, 3, 4, 5, 6, 7, 8]">
            {{ i }}
          </th>
        </tr>
      </thead>

      <tbody *ngFor="let j of [0, 5, 10]">
        <tr *ngFor="let row of [j, j + 1, j + 2, j + 3, j + 4]">
          <th scope="col">{{ row + 1 }}</th>
          <ng-container *ngFor="let col of [0, 1, 2, 3, 4, 5, 6]">
            <ng-container
              *ngIf="
                this.table[row] != undefined &&
                  this.table[row][col] != undefined;
                else blank
              "
            >
              <ng-container
                *ngIf="this.table[row][col][1] == 0; else content"
              ></ng-container>
              <ng-template #content>
                <th
                  *ngIf="col == (this.today.getDay() - 1 + 7) % 7; else other"
                  scope="col"
                  [rowSpan]="this.table[row][col][1]"
                  class="active"
                >
                  {{ row + 7 }}:00 -
                  {{ this.table[row][col][1] + row + 6 }}:50<br />
                  <p>{{ this.table[row][col][0] }}</p>
                </th>

                <ng-template #other>
                  <th scope="col" [rowSpan]="this.table[row][col][1]">
                    {{ row + 7 }}:00 -
                    {{ this.table[row][col][1] + row + 6 }}:50<br />
                    <p>{{ this.table[row][col][0] }}</p>
                  </th>
                </ng-template>
              </ng-template>
            </ng-container>

            <ng-template #blank>
              <th scope="col">&nbsp;</th>
            </ng-template>
          </ng-container>
        </tr>

        <tr *ngIf="j != 10" class="tbreak">
          <th colspan="9">&nbsp;</th>
        </tr>
      </tbody>
    </table>
  </div>
</body>
