<body>
  <app-navbar
    [active]="this.link"
    [loginName]="this.loginUser.name"
  ></app-navbar>

  <div class="today container container-fluid">
    <table class="table">
      <div class="row row-cols-5">
        <td
          scope="row"
          class="text-center color height"
          *ngFor="let i of [1, 2, 3, 4, 5]"
        >
          {{ i }}
        </td>
        <ng-container *ngFor="let col of [0, 1, 2, 3, 4]">
          <ng-container
            *ngIf="
              this.table[col] != undefined &&
                this.table[col][this.today.getDay() - 1] != undefined;
              else blank
            "
          >
            <ng-container
              *ngIf="
                this.table[col][this.today.getDay() - 1][1] == 0;
                else content
              "
            ></ng-container>
            <ng-template #content>
              <th
                scope="col"
                class="onSubject align-middle text-break center"
                [colSpan]="this.table[col][this.today.getDay() - 1][1]"
              >
                {{ this.table[col][this.today.getDay() - 1][0] }}
              </th>
            </ng-template>
          </ng-container>
          <ng-template #blank>
            <th scope="col" class="align-middle height">&nbsp;</th>
          </ng-template>
        </ng-container>
      </div>
      <!-- <tr>
        <th>Môn</th>
        <ng-container
          *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]"
        >
          <ng-container
            *ngIf="
              this.table[col] != undefined &&
                this.table[col][this.today.getDay() - 1] != undefined;
              else blank
            "
          >
            <ng-container
              *ngIf="
                this.table[col][this.today.getDay() - 1][1] == 0;
                else content
              "
            ></ng-container>
            <ng-template #content>
              <th
                scope="col"
                class="onSubject align-middle text-break center"
                [colSpan]="this.table[col][this.today.getDay() - 1][1]"
              >
                {{ this.table[col][this.today.getDay() - 1][0] }}
              </th>
            </ng-template>
          </ng-container>
          <ng-template #blank>
            <th scope="col" class="align-middle text-break center">&nbsp;</th>
          </ng-template>
        </ng-container>
      </tr> -->
    </table>
  </div>
  <div class="week container container-fluid">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr class="color">
          <th scope="col" class="col align-middle text-break">Thời gian</th>
          <th scope="col" class="col align-middle">Tiết</th>
          <th
            scope="col"
            class="col align-middle"
            *ngFor="let i of [2, 3, 4, 5, 6, 7, 8]"
          >
            {{ i }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of [0, 1, 2, 3, 4]">
          <th scope="col" class="col align-middle text-break center">
            {{ row + 7 }}:00 - {{ row + 7 }}:50
          </th>
          <th scope="col" class="align-middle text-break center">
            {{ row + 1 }}
          </th>
          <ng-container *ngFor="let col of [0, 1, 2, 3, 4, 5, 6]">
            <ng-container
              *ngIf="
                this.table[row] != undefined &&
                  this.table[row][col] != undefined;
                else blank
              "
            >
              <ng-container
                *ngIf="this.table[row][col][1] == 0; else content"
              ></ng-container>
              <ng-template #content>
                <th
                  scope="col"
                  class="onSubject align-middle text-break center"
                  [rowSpan]="this.table[row][col][1]"
                >
                  {{ row + 7 }}:00 -
                  {{ this.table[row][col][1] + row + 6 }}:50<br />
                  {{ this.table[row][col][0] }}
                </th>
              </ng-template>
            </ng-container>
            <ng-template #blank>
              <th scope="col" class="align-middle text-break center">&nbsp;</th>
            </ng-template>
          </ng-container>
        </tr>
        <tr class="tbreak">
          <th colspan="9">Nghỉ giải lao</th>
        </tr>
        <tr *ngFor="let row of [5, 6, 7, 8, 9]">
          <th scope="col" class="align-middle text-break center">
            {{ row + 7 }}:30 - {{ row + 8 }}:20
          </th>
          <th scope="col" class="align-middle text-break center">
            {{ row + 1 }}
          </th>
          <ng-container *ngFor="let col of [0, 1, 2, 3, 4, 5, 6]">
            <ng-container
              *ngIf="
                this.table[row] != undefined &&
                  this.table[row][col] != undefined;
                else blank
              "
            >
              <ng-container
                *ngIf="this.table[row][col][1] == 0; else content"
              ></ng-container>
              <ng-template #content>
                <th
                  scope="col"
                  class="onSubject align-middle text-break center"
                  [rowSpan]="this.table[row][col][1]"
                >
                  {{ row + 7 }}:30 -
                  {{ this.table[row][col][1] + row + 7 }}:20<br />
                  {{ this.table[row][col][0] }}
                </th>
              </ng-template>
            </ng-container>
            <ng-template #blank>
              <th scope="col" class="align-middle text-break center">&nbsp;</th>
            </ng-template>
          </ng-container>
        </tr>
        <tr class="tbreak">
          <th colspan="9">Nghỉ giải lao</th>
        </tr>
        <tr *ngFor="let row of [10, 11, 12, 13, 14]">
          <th scope="col" class="align-middle text-break center">
            {{ row + 8 }}:00 - {{ row + 8 }}:50
          </th>
          <th scope="col" class="align-middle text-break center">
            {{ row + 1 }}
          </th>
          <ng-container *ngFor="let col of [0, 1, 2, 3, 4, 5, 6]">
            <ng-container
              *ngIf="
                this.table[row] != undefined &&
                  this.table[row][col] != undefined;
                else blank
              "
            >
              <ng-container
                *ngIf="this.table[row][col][1] == 0; else content"
              ></ng-container>
              <ng-template #content>
                <th
                  scope="col"
                  class="onSubject align-middle text-break center"
                  [rowSpan]="this.table[row][col][1]"
                >
                  {{ row + 8 }}:00 -
                  {{ this.table[row][col][1] + row + 7 }}:50<br />
                  {{ this.table[row][col][0] }}
                </th>
              </ng-template>
            </ng-container>
            <ng-template #blank>
              <th scope="col" class="align-middle text-break center">&nbsp;</th>
            </ng-template>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</body>
