<body>
  <app-navbar [loginName]="this.loginUser.name"></app-navbar>

  <div class="custom-container">
    <h3>Lớp đã đăng ký</h3>

    <table class="table table-bordered styled-table">
      <thead>
        <tr class="text-center">
          <th scope="col">STT</th>
          <th scope="col">Mã lớp học phần</th>
          <th scope="col">Tên lớp học phần</th>
          <th scope="col">Giảng viên</th>
          <th scope="col">Lịch học</th>
          <th scope="col">Đã đăng ký</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>

      <tbody class="table-group-divider align-middle">
        <tr *ngIf="classes.length == 0; else show_1">
          <td colspan="6" class="text-center">Chưa đăng ký lớp học phần nào</td>
        </tr>
        <ng-template #show_1>
          <tr *ngFor="let c of classes; index as i">
            <td class="text-center">{{ i + 1 }}</td>
            <td class="text-center">{{ c.sectionID }}</td>
            <td>{{ c.subjectName }}</td>
            <td>{{ c.teacherName }}</td>
            <td class="text-center">
              Thứ
              {{
                c.startTime / 15 - ((c.startTime / 15) % 1) + 2
                  | number : "1.0-0"
              }}; Tiết {{ (c.startTime % 15) + 1 | number : "1.0-0" }} -
              {{ (c.endTime % 15) + 1 | number : "1.0-0" }}
            </td>
            <td class="text-center">{{ c.current }}/{{ c.capacity }}</td>
            <td class="text-center">
              <button
                class="button-33"
                role="button"
                routerLink="/classSign"
                (click)="deleteClassSection(c, this.loginUser)"
              >
                Huỷ
              </button>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>

    <h3>Lớp có thể đăng ký</h3>

    <table class="table table-bordered styled-table">
      <thead>
        <tr class="text-center">
          <th scope="col">STT</th>
          <th scope="col">Mã lớp học phần</th>
          <th scope="col">Tên lớp học phần</th>
          <th scope="col">Giảng viên</th>
          <th scope="col">Lịch học</th>
          <th scope="col">Đã đăng ký</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>

      <tbody class="table-group-divider align-middle">
        <tr *ngIf="newClasses.length == 0; else show_2">
          <td colspan="6" class="text-center">
            Không có lớp học phần có thể đăng ký
          </td>
        </tr>
        <ng-template #show_2>
          <tr *ngFor="let c of newClasses; index as i">
            <td class="text-center">{{ i + 1 }}</td>
            <td class="text-center">{{ c.sectionID }}</td>
            <td>{{ c.subjectName }}</td>
            <td>{{ c.teacherName }}</td>
            <td class="text-center">
              Thứ
              {{
                c.startTime / 15 - ((c.startTime / 15) % 1) + 2
                  | number : "1.0-0"
              }}; Tiết {{ (c.startTime % 15) + 1 | number : "1.0-0" }} -
              {{ (c.endTime % 15) + 1 | number : "1.0-0" }}
            </td>
            <td class="text-center">{{ c.current }}/{{ c.capacity }}</td>
            <td class="text-center" *ngIf="!this.timetableConflict[i]; else timeConflict">
              <button
                class="button-33"
                role="button"
                routerLink="/classSign"
                (click)="addClassSection(c, this.loginUser)"
              >
                Đăng ký
              </button>
            </td>
            <ng-template #timeConflict>
              <td>
                Trùng TKB
              </td>
            </ng-template>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</body>
