* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 70%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to bottom, #4568dc, #b06ab3);
}

ul {
    list-style-type: none;
}

:root {
    --main-c1: #4568dc;
    --main-c2: #b06ab3;
}

.grid {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}