#login-box {
    border: 1px solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#login-box #login-form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}