#app {
    min-height: 300px;
    background-color: #b6b7bc;
}

/* Header */
.header-content {
    padding: 8px 0;
    margin-top: 15px;
    background-color: #004c8a;
}

.header .header-text {
    margin: 0;
    color: white;
    cursor: default;
    padding: 0 20px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

.header-text span {
    font-size: 1.5em;
}

/* Navigation bar */
.header .nav {
    display: flex;
    margin: 0 20px;
    border-radius: 4px;
    align-items: center;
    background-color: #3a4f63;
    justify-content: space-between;
}

.nav .nav-menu {
    display: flex;
    margin: 8px 12px;
    font-size: 1.2em;
}

.nav .nav-task {
    margin-right: 8px;
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
}

.nav-task a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.nav .nav-task:hover {
    color: #004c8a;
    background-color: #bfcbd6;
}

.nav .nav-login {
    font-size: 1.2em;
    margin: 0 10px;
}

/* Body */
.container {
    background-color: white;
}

.container .body {
    border: solid 1px black;
}

/* Body title */
.container .body-title {
    padding: 16px;
}

.container .body-title h3 {
    color: red;
    font-size: 1.6em;
    text-transform: uppercase;
}

/* Body table */
.body .body-table {
    margin: 12px;
    font-size: 1.2em;
}

.body .body-table table, th, td {
    padding: 4px;
    border: 1px solid black;
}

.body .body-table table {
    width: 100%;
    border-collapse: collapse;
}

.body-table .table-title th {
    background-color: #fff1a7;
}

.body-table .table-normal {
    font-weight: normal;
}

.table-normal th {
    font-weight: normal;
}

.table-normal .table-jtf {
    text-align: justify;
}