<!-- <div class="d-flex justify-content-center" style="padding-top: 12px">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container container-fluid">
      <a class="navbar-brand" href="#">
        <i class="bi bi-window-desktop d-inline-block align-text-top"></i>
        Hệ thống
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mid">
            <a
              *ngIf="active === 'main'; else elseBlock1"
              class="nav-link active px-3"
              aria-current="page"
              routerLink="/main"
              >Trang chủ</a
            >
            <ng-template #elseBlock1>
              <a class="nav-link" routerLink="/main">Trang chủ</a>
            </ng-template>
          </li>
          <li class="nav-item mid">
            <a
              *ngIf="active === 'classSign'; else elseBlock2"
              class="nav-link active px-3"
              aria-current="page"
              routerLink="/classSign"
              >Đăng ký học phần</a
            >
            <ng-template #elseBlock2>
              <a class="nav-link" routerLink="/classSign">Đăng ký học phần</a>
            </ng-template>
          </li>
          <li class="nav-item mid">
            <a
              *ngIf="active === 'timetable'; else elseBlock3"
              class="nav-link active px-3"
              aria-current="page"
              routerLink="/timetable"
              >Thời khoá biểu</a
            >
            <ng-template #elseBlock3>
              <a class="nav-link" routerLink="/timetable">Thời khoá biểu</a>
            </ng-template>
          </li>
        </ul>
        <button
          *ngIf="this.loginName === undefined; else showName"
          class="d-flex logout"
          routerLink="/login"
        >
          Đăng nhập
        </button>
        <ng-template #showName style="color: white" type="text">
          <div
            class="login-hover d-flex justify-content-end align-items-center"
          >
            <img
              class="img-fluid avatar"
              src="./assets/avatars/blankmale.jpg"
              alt="No avatar"
            />
            <a class="navbar-text loginName" routerLink="/profile">
              {{ this.loginName }}
            </a>
            <div
              class="login-list d-flex justify-content-end align-items-center"
            >
              <ul>
                <li></li>
                <li>
                  <a class="d-flex" routerLink="/" (click)="Logout()">
                    Đăng xuất
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </nav>
</div> -->
<body>
  <header class="custom-header">
    <div class="custom-container">
      <div class="custom-logo">
        <img src="./assets/logo.png" alt="" />
      </div>

      <nav class="custom-nav">
        <li><a routerLink="/main">Trang chủ</a></li>
        <li><a routerLink="/classSign">Đăng ký học</a></li>
        <li><a routerLink="/timetable">Thời khoá biểu</a></li>
      </nav>

      <button
        class="button-34"
        role="button"
        *ngIf="this.loginName === undefined; else showName"
        routerLink="/login"
      >
        Đăng nhập
      </button>

      <ng-template #showName>
        <div class="avatar-menu">
          <div class="custom-avatar">
            <img src="./assets/avatar.jpg" alt="" />
            <h4>{{ this.loginName }}</h4>
          </div>

          <ul class="avatar-sub">
            <li>
              <a routerLink="/profile">Trang cá nhân</a>
            </li>
            <li>
              <a routerLink="/" (click)="Logout()">Đăng xuất</a>
            </li>
          </ul>
        </div>
      </ng-template>
    </div>
  </header>
</body>
