@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62%;
}

.custom-header {
  width: 100%;
  background-color: #fff;
}

.custom-container {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.custom-logo img {
  width: 5rem;
}

.custom-nav {
  list-style: none;
  display: flex;
  padding: 2.5rem;
  gap: 3rem;
}

.custom-nav li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #0000cc;
  font-weight: 600;
  display: inline-block;
  width: 100%;
  position: relative;
}

.custom-nav li a:hover {
  color: #cb0101;
}

.custom-nav li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #cb0101;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: all 0.4s ease;
}

.custom-nav li a:hover::after {
  width: 100%;
}

.button-34 {
  background: #0000cc;
  border-radius: 999px;
  box-shadow: #0000cc 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.custom-avatar {
  display: flex;
  align-items: center;
}

.custom-avatar img {
  width: 3rem;
  border-radius: 50%;
  border: 1px solid #0000cc;
  margin: 8px;
}

.custom-avatar h4 {
  margin-left: 12px;
  color: #0000cc;
  font-weight: 600;
  font-size: 1.25rem;
}

.avatar-menu {
  position: relative;
  display: inline-block;
}

.avatar-sub {
  display: none;
  position: absolute;
  z-index: 1;
  width: 110%;
  list-style: none;
  left: -5%;
  font-size: 1rem;
  color: #0000cc;
  border: 1px solid #0000cc;
  border-radius: 16px;
  padding: 4px 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.avatar-sub li a:hover {
  color: #cb0101;
}

.avatar-sub li a {
  text-decoration: none;
  color: #0000cc;
  display: inline-block;
  width: 100%;
  position: relative;
}

.avatar-sub li:hover a::after {
  width: 100%;
}

.avatar-sub li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #cb0101;
  position: absolute;
  left: 0;
  bottom: 3px;
  transition: all 0.4s ease;
}

.avatar-menu:hover .avatar-sub {
  display: block;
}

.avatar-sub li {
  line-height: 2rem;
}
