table {
  width: 100%;
  border-collapse: collapse;
}

.table-header th {
  color: white;
  font-weight: bold;
  background-color: #04aa6d;
}

th {
  border-right: 1px solid;
  font-weight: normal;
  padding: 8px;
}

th:last-child {
  border-right: none;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
