body {
  padding-bottom: 40px;
  background-color: whitesmoke;
}

.container {
  padding: 3%;
  margin-top: 15px;
  border-radius: 25px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

thead {
  text-align: center;
}

.center {
  text-align: center !important; 
}

.tbreak {
  background-color: #4649FF;
}

.tbreak > th {
  color: #fff;
  text-align: center;
}

.color {
  background-color: #4649FF;
  color: #fff;
}

.table {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
